<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="./public/bootstrap.min.css">
    <link rel="stylesheet" href="./public/main.css">
    <script src="./public/jquery.min.js"></script>
    <script src="./public/bootstrap.min.js"></script>
    <script src="./public/d3.min.js"></script>
    <script src="./public/main.js"></script>
    <script src="./public/makeQueryCourses.js"></script>
    <script src="./public/makeQueryRooms.js"></script>
    <script src="./public/styling.js"></script>

</head>
<html>
<body>
<div class = "row top-bar">
    <!-- logo image -->
    <div class = "col-xs-3">
        <img class = "img-responsive center-block ubc-img"
             src = "http://www.ugrad.cs.ubc.ca/~cs314/Vsep2016/img/ubc_logo.png" height= "55" width = "55">
    </div>
    <!-- Spacer on left to -->
    <div class = "col-xs-1 center-block top-bar-item">
        <p class = "lead text-center top-bar-text"><a href="./index.html">Home</a></p>
    </div>
    <div class = "col-xs-2 center-block top-bar-item">
        <p class = "lead text-center top-bar-text"><a href="./coursesQuery.html">Find Courses</a></p>
    </div>
    <div class = "col-xs-1 center-block top-bar-item">
        <p class = "lead text-center top-bar-text"><a href="./uploadDataset.html">Upload</a></p>
    </div>
    <div class = "col-xs-2 center-block top-bar-item">
        <p class = "lead text-center top-bar-text"><a href="./roomsQuery.html">Find Rooms</a></p>
    </div>
    <div class = "col-xs-2 center-block top-bar-item">
        <p class = "lead text-center top-bar-text"><a href="./schedule.html">Schedule Classes</a></p>
    </div>
    <!-- Spacer on right to -->
    <div class = "col-xs-1"></div>
</div>
<!-- end of top bar -->

<div class="container">

    <h3>Search for Courses:</h3>
    <form id="querySubmit">
        <div class="form-group">

            <label><input type="radio" name="cOrS" id = "courseSwitch">Show Courses</label>
            <label><input checked type="radio" name="cOrS" id = "sectionSwitch">Show Sections</label>

            <br>

            <label for="findDepartment">Department:</label>
            <input type="text" class="form-control" placeholder = "Department" id="findDepartment">

            <label for="findCourseNumber">Course Number:</label>
            <input type="text" class="form-control" placeholder = "Course Number" id="findCourseNumber">

            <label for="findCourseTitle">Course Title:</label>
            <input type="text" class="form-control" placeholder = "Course Title" id="findCourseTitle">

            <label for="findInstructor">Instructor:</label>
            <input type="text" class="form-control" placeholder = "First Name Last Name" id="findInstructor">

            <label for="findSectionSize">Max Size:</label>
            <input type="text" class="form-control" placeholder = "Section Size" id="findSectionSize">

            <h4>Order your search using the following:</h4>

            <label><input type="radio" name ="filter" id = "ha-check">Highest Average</label>

            <label><input type="radio" name ="filter" id = "la-check">Lowest Average</label>

            <label><input type="checkbox" name ="mostSections" id = "ms-check">Most Sections</label>

            <label><input type="checkbox" name ="mostPasses" id = "mp-check">Most Passes</label>

            <label><input type="checkbox" name ="mostFails" id = "mf-check">Most Fails</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h3 class = "lead">Search Results:</h3>
    <table class="table-striped" id="result">
        <thead id="resultCoursesHead"></thead>
    </table>
</div>
</body>
</html>
