<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="./public/bootstrap.min.css">
	<link rel="stylesheet" href="./public/main.css">
	<script src="./public/jquery.min.js"></script>
	<script src="./public/bootstrap.min.js"></script>
	<script src="./public/d3.min.js"></script>
	<script src="./public/main.js"></script>
    <script src="./public/makeQueryCourses.js"></script>
    <script src="./public/makeQueryRooms.js"></script>
    <script src="./public/styling.js"></script>

</head>
<html>
<body>
<div class = "row top-bar">
	<!-- logo image -->
	<div class = "col-xs-3">
		<img class = "img-responsive center-block ubc-img"
			 src = "http://www.ugrad.cs.ubc.ca/~cs314/Vsep2016/img/ubc_logo.png" height= "55" width = "55">
	</div>
	<!-- Spacer on left to -->
	<div class = "col-xs-1 center-block top-bar-item">
		<p class = "lead text-center top-bar-text"><a href="./index.html">Home</a></p>
	</div>
	<div class = "col-xs-2 center-block top-bar-item">
		<p class = "lead text-center top-bar-text"><a href="./coursesQuery.html">Find Courses</a></p>
	</div>
	<div class = "col-xs-1 center-block top-bar-item">
		<p class = "lead text-center top-bar-text"><a href="./uploadDataset.html">Upload</a></p>
	</div>
	<div class = "col-xs-2 center-block top-bar-item">
		<p class = "lead text-center top-bar-text"><a href="./roomsQuery.html">Find Rooms</a></p>
	</div>
	<div class = "col-xs-2 center-block top-bar-item">
		<p class = "lead text-center top-bar-text"><a href="./schedule.html">Schedule Classes</a></p>
	</div>
	<!-- Spacer on right to -->
	<div class = "col-xs-1"></div>
</div>
<!-- end of top bar -->



</body>
</html>
